@charset "utf-8";
/* CSS Document */

@font-face
{
	font-family: ArnoProBold;
	src: url('../type/ArnoPro-Bold.otf'); 
}
@font-face
{
	font-family: ArnoProRegular;
	src: url('../type/ArnoPro-Regular.otf'); 
}

*{
	padding: 0px;
	margin: 0px;
}
ul{
	list-style: none;
}
img {
	border:0
}
html{
	height:100%;
	min-height:100%;
}
h1{
	font-size:20px;
	font-weight:bold;
	color:#757575;
	text-transform:uppercase;
}
h2{
	font-size:18px;
	font-weight:bold;
	text-transform:uppercase;
	margin-top:0;
}
body{
	font-size:14px;
	font-weight: 400;
	font-family: ArnoProRegular,Time New Roman, serif;
	background-color:#fff;
	color: #333333;
}
a {
	text-decoration:none;
	outline: none;
	color:#757575
}
a:hover{
	color: #000;	
}
.btn-container {
	padding: 40px 0px;
}
.btn-link {
	padding: 7px 20px;
	border: 1px solid #021D64;
	background-color: #f0f0f0;
	color: #000;
	text-align: center;
	font-weight: bold;
}
.btn-link:hover {
	background: #021D64;
	color: #fff;	
}
#wrap{
	width:1000px;
	height:100%;
	margin:0 auto;
}

/* Header CSS */
#header{
	width:1000px;
	height:auto;	
}
#banner{
	clear:both;
	text-align:center;
	padding: 20px 0px 0px 0px;
}
#menu{
	width:100%;
	border-bottom: 2px solid #021D63;
	padding: 1px 0px;
	margin: 120px 0px 20px 0px;
}
#menu > ul{
	
}
#menu > ul > li {
	display: inline-block;
	position: relative;
}
#menu > ul > li a {
	text-transform: uppercase;
	font-weight: normal;
	display: block;
	padding: 5px 8px 2px 8px;
	text-decoration: none;
	color: #4D4D4D;
}
#menu > ul > li > a:hover,
#menu > ul > li.active > a {
	color: #000;
}
#menu > ul > li > a {
	font-weight: bold;
	font-size: 1.1em;
}
#menu > ul > li > ul {
    position: absolute;	
    bottom: 26px;
    left: -2px;
}
#menu > ul > li > ul > li {
    display: block;       
}
#menu > ul > li > ul > li > a {
    display: block;	
    white-space: nowrap;
    padding: 8px 10px;
    font-size: 1.1em;
    min-width: 130px;
    font-weight: bold;
}
#menu > ul > li > ul > li > a:hover{
	color: #000;
	font-weight: bold;
}

/* Body CSS */
#body-content{
	height:auto;
	overflow:hidden;
	min-height: 220px;
}
#body-content .box-item {
	overflow: hidden;
	margin: 5px 5px;
	float: left;
	position: relative;
	box-shadow: 2px 2px 2px 1px #b4b4b4;
}
.box-item .category-title {
    position: absolute;
    bottom: 20%;
    background-color: #f0f0f0;
    width: 100%;
    padding: 10px 0px;
    color: #3C3C3C;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    opacity: 0.8;
}
.box-item:hover .category-title  {
	opacity: 0.8;
	color: #616161;
}
.box-item .item-avatar {
	display: block;
	position: relative;
	height: 100%;
	width: 100%;
}
.box-item .item-avatar .item-avatar-img {	
	position: absolute;
	left: 0px;
	-webkit-transition: all 0.1s ease;                  
    -moz-transition: all 0.1s ease;                 
    -o-transition: all 0.1s ease;   
    -ms-transition: all 0.1s ease;          
    transition: all 0.1s ease;
}
.item-avatar .item-avatar-img.on {
	opacity: 1;
}
.item-avatar .item-avatar-img.off {
	opacity: 0;	
}
.item-avatar:hover .item-avatar-img.on {
	opacity: 0;
}
.item-avatar:hover .item-avatar-img.off {
	opacity: 1;
}
#body-content .content-list{
	overflow: hidden;
	margin: 0px auto;
	width: 100%;
}
#body-content .box{
	float: left;
	overflow: hidden;
}
#body-content .box1{
	width:275px;
	height:186px;
}
.box1 img{
	width:275px;
	height:auto;
}
#body-content .box3{
	width: 275px;
	height: 186px;
	margin-left: 42px;	
}
.box3 img{
	width: 100%;
	height: auto;
}
#body-content .box5{
	width: 190px;
	height: 128px;
}
.box5 img{
	width: 100%;
	height:auto;
}
#body-content .pagelocation{
	font-weight: bold;
	font-size: 16px;
	padding: 5px 0px 0px 20px;
	background: transparent url(../image/icon-redbox.gif) 0 50% no-repeat;
	margin-bottom: 8px;
}
#body-content .pagelocation.margin-box3 {
	margin-bottom: 23px;
}
#body-content .pagelocation.margin-box5 {
	margin-bottom: 52px;
}
.contentbox{
	overflow-x:hidden;
	overflow-y:auto;	
}
.pagebar{
	width:630px;
	height:auto;
	float:left;
	text-align:right;
	clear:both;
}
.cur-page{
	font-size:18px;
	font-weight:bold;
}
.newslist{
	float:left;
	clear:both;
	margin:5px 0;
}

.popup-container {	
	padding: 20px;
}
.popup-container h2 {
	font-size: 20px;
	color: #000;
	padding-bottom: 5px;
	margin-bottom: 10px;
	text-transform: uppercase;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.popup-container h2 > span {
	display: block;
	font-size: 15px;
	color: #9E9A9A;
	font-style: italic;
}
.popup-container .contentbox {
}

/*
	FAQ page
*/
#faq-page {    
}
#topic-container {
    position: fixed;
    width: 200px;
    background: #ddd;
    top: 65px;
    bottom: 20px;
}
#topic-container .img img {
    width: 200px;
}
#topic-container .list-topic {
    padding-left: 30px;
    list-style: square;
}
#topic-container .list-topic li {
    margin: 5px 0px;
}
#topic-container .list-topic li a.active {
	color: #000;
	font-size: 17px;
}
#topic-container .list-topic li a {
    font-size: 15px;
    font-weight: bold;
}
#content-container {
    position: absolute;
    top: 42px;
    left: 240px;
    right: 0px;
    bottom: 0px;
    padding: 20px;
    overflow: hidden;
}
#content-container .topic-item {
    margin-bottom: 20px;
    display: none;
}
#content-container .topic-item.active {
	display: block;
	position: relative;
	height: 100%;
}
.topic-item .topic-item-name {
    font-size: 20px;
    color: #000;
    margin: 0px 0px 10px 0px;
}
.topic-item .problem-list {    
    overflow: auto;
    position: absolute;
    top: 30px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.topic-item .problem-list ol {
	padding-left: 20px;
}
.problem-list .problem-item {
    padding: 10px;
    margin-bottom: 10px;
    border-left: 1px solid #fff;
}
.problem-list .problem-item:hover,
.problem-list .problem-item.active {
	background-color: #f0f0f0;
	border-left: 1px solid #b4b4b4;
}
.problem-item .problem-item-question {
    font-weight: bold;
    cursor: pointer;
}
.problem-item .problem-item-answer {
	display: none;	
    margin-top: 10px;
}

/* Intro Page */
#flashintro{
	width:1000px;
	height:500px;
	float:left;
	text-align:center;
}
#menulang {
	text-align: center;
	padding: 5px 0px;
	font-weight: bold;
	clear: both;
}
#menulang .list-flag {
    text-align: right;	
}
#menulang .list-flag li {	
	display: inline-block;
	text-align:center;
	cursor: pointer;
	padding: 2px 10px;
	border-right: 1px solid #ccc;
}
#menulang .list-flag li:last-child {
	border-right: none;
}
#menulang .list-flag li:hover span {
	border-bottom: 1px solid #ccc;
}
#menulang .list-flag img {
}
#menulang .list-flag span {
	display: block;
	font-size: 16px;
	text-transform: uppercase;
}
#menulang .list-flag li:hover span {
	color: #000;	
}
#menulang .has-site-map{
	text-align: center;
}
#menulang .has-site-map li {	
	margin: 0px;
	font-weight: normal;
}
#menulang .has-site-map li span {
	text-transform: capitalize;	
	font-size: 15px;
	color: #141414;
}
#menulang .has-site-map li:hover span {
	border-bottom: none;
	color: #0C0C0C;
}

/* Contact Page */
#contact-address {
	min-height: 500px;	
}
.contact-map {
	text-align: right;
	float: right;
	width: 790px;
	height: 485px;
	overflow: hidden;
}
.contact-map .map-item {
	float: right;
	display: block;
	width: 390px;
	height: 230px;
	overflow: hidden;
	margin: 0px 0px 15px 0px;
}
.contact-map img {
    width: 370px;
}
.contact-info{
	width: 350px;
	float: left;
	color: #535353;
}
.contact-info .company-name {
    white-space: normal;
	
    font-size: 18px;
    color: #5E5E5E;
}
.contact-info .contact-item {
    margin: 20px 0px;
	
    font-size: 16px;
}
.contact-item > h3 {
    padding-bottom: 0px;
	
    border-bottom: 2px solid #000;
    margin-bottom: 10px;
}
.contact-item .group-contact-info {
    margin-bottom: 10px;	
}
.contact-item .group-contact-info:last-child {
	margin-bottom: 0px;
}
.contact-item .fb-fanpage {
	
}
.contact-form input{
	width:95%;
	border:0;
	border-bottom:1px solid #757575;
}
.contact-online{
	width:100%;
	height:auto;
	float:left;
	clear:both;
	border-top:1px solid #757575;
	margin:10px 0;
	padding-top:20px;
}
/* News Page */

/* Footer CSS*/
#footer{
	width:1000px;
	position: fixed;
	bottom: 20px;
	height:auto;
	text-align:center;
	margin-top:30px;
	font-size: 14px;
	background-color: #fff;
}

#site-map {
	padding: 20px;
}
#site-map .contentbox {
	overflow: hidden;
}
#site-map .contentbox a {
	font-size: 15px;
}
#site-map .contentbox a:hover{
	text-decoration: underline;
}
#site-map .contentbox > ul {
	list-style: square;
	padding-left: 30px;
	float: left;
}
#site-map .contentbox > ul > li {
	padding: 5px;
}
#site-map .contentbox > ul > li > a {
	font-weight: bold;
	font-size: 18px;
}
#site-map .contentbox > ul > li > ul {
    padding-left: 20px;
	list-style: circle;
}
#site-map .contentbox > ul > li > ul > li {
	padding: 3px;
}
#site-map .contentbox > ul > li > ul > li > ul {
	padding-left: 20px;
	list-style: square;
}
#site-map .contentbox > ul > li > ul > li > ul > li > ul{
	padding-left: 20px;
	list-style: square;
}

/*Contact Us*/
#contact-page {

}
#contact-page table {
    width: 100%;
    margin-top: 15px;
}
#contact-page table td {
    padding: 5px;
}
#contact-page table td.label {
    vertical-align: top;
    width: 200px;
}
#contact-page table td.label .required {
	color: red;
	font-size: 12px;
}
#contact-page table td.value {
    text-align: left;
    vertical-align: top;
}
#contact-page table td.value input {
    width: 60%;
    padding: 5px;
}
#contact-page table td.value input[type="submit"] {
	border: 1px solid #ddd;
	background-color: #ddd;
	color: #000;
	padding: 5px 14px;
	width: 90px;
	font-weight: bold;
}
#contact-page table td.value input[type="submit"]:hover {
	cursor: pointer;
}
#contact-page table td.value textarea {
}
#contact-page table td.value span.error {
	color: red;
	font-size: 12px;
	padding: 10px 0px 10px 23px;
	display: block;
	background: transparent url(../image/warning.png) 0 50% no-repeat;
}
#contact-page table td.value span.success {
	color: green;
	font-size: 12px;
	padding: 10px 0px 10px 23px;
	display: block;
	background: transparent url(../image/success.png) 0 50% no-repeat;
}
#contact-page .result-fail {
    font-size: 17px;
    padding: 15px 10px 15px 35px;
    border: 1px solid #C00B0B;
    background: transparent url(../image/warning.png) 10px 50% no-repeat;
}
#contact-page .result-success {
    font-size: 17px;
    padding: 15px 10px 15px 35px;	
    border: 1px solid #00440B;
	background: transparent url(../image/success.png) 10px 50% no-repeat;
}

#contact-online-support {
}
#contact-online-support .support-list {
    overflow: hidden;
}
.support-list .support-item {
    display: inline-block;
    margin: 5px;
    border: 1px solid #f0f0f0;
    vertical-align: top;
    box-shadow: 1px 0px 1px 0px #ccc;
}
.support-list .support-item a {
    display: block;
    height: 60px;
    padding: 20px;
    min-width: 150px;
}
.support-list .support-item a img {
    vertical-align: middle;
    text-align: center;
}

/*News Page*/
#news-page {
	background: #f0f0f0;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
#news-page > h2{
	border-bottom: none;
}
#news-page .img {
	height: 100%;
}
#news-page .paging {
	margin-bottom: 10px;
	text-align: right;
	font-size: 17px;
	border-bottom: 1px solid #ddd;
	padding: 6px 20px;
	overflow: hidden;
}
#news-page .paging a {
    font-weight: bold;
	padding: 0px 5px;	
}
#news-page .paging a.active,
#news-page .paging a:hover{
	color: #585858;
}
#news-page .news-list {
    height: 92%;
    overflow-y: auto;
    overflow-x: hidden;
}
#news-page .news-list li {
    padding: 5px 0px;
    margin-bottom: 5px;
    border-bottom: 1px dotted #ddd;
}
#news-page .news-list li a {
    font-size: 15px;	
    font-weight: bold;
}
#news-page .news-list li a:hover{
	color: #000;
	text-decoration: underline;
}
#news-page .news-content {
	height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 14px;
	background-color: #FFF;
}
#news-page .news-content * {
}
#news-page #topic-container {
	top: 70px;
	position: fixed;
    width: 200px;
    background: #ddd;
    bottom: 20px;
}
#news-page #content-container {
	position: absolute;
	top: 70px;
	left: 200px;
	right: 20px;
	bottom: 20px;
	padding: 20px 5px 20px 50px;
	background-color: #FFF;	
    overflow: hidden;
}

/*
Jcarousel
*/
.jcarousel-prev.jcarousel-prev-horizontal {
	position: absolute;
	top: 48%;
	left: 0px;
	height: 25px;
	width: 25px;
	background: transparent url(../image/btn-pre.png) 0 0 no-repeat;
	opacity: 0;
	cursor: pointer;
}
.jcarousel-next.jcarousel-next-horizontal {
	position: absolute;
	right: 0px;
	top: 48%;
	height: 25px;
	width: 25px;
	background: transparent url(../image/btn-next.png) 0 0 no-repeat;
	opacity: 0;
	cursor: pointer;
}
.jcarousel-prev.jcarousel-prev-disabled {
	cursor: default;
	opacity: 0;
}
.jcarousel-next.jcarousel-next-disabled {
	cursor: default;
	opacity: 0;
}
.jcarousel-container:hover .jcarousel-prev.jcarousel-prev-horizontal {
	opacity: 0.7;
}
.jcarousel-container:hover .jcarousel-next.jcarousel-next-horizontal {
	opacity: 0.7;
}

/*Email subcription*/
#email-sub {
	width: 500px;
}
#email-sub h2 {
    padding: 10px 20px 10px 45px;
    background: transparent url(../image/a.png) no-repeat 10px 50%;
    text-align: left;
    border-bottom: 1px solid #0e0e0e;
}
#email-sub .container {
    padding: 30px 30px;
    position: relative;
}
.container  .row {
	overflow: hidden;
}
.container .error-msg {
	color: red;
	font-size: 14px;
	padding: 10px 0px;
	display: none;
}
.container .success-msg {
	color: #235000;
	font-size: 16px;
	padding: 0px 0px 15px 0px;
	display: none;
	background: transparent url(../image/success.png) 100% 0 no-repeat;
}
#email-sub input[type='text'] {
    padding: 10px;
    width: 338px;
    float: left;
    border: 1px solid #969696;
    border-right: none;
}
#email-sub input[type='submit'] {	
    border: none;
    padding: 7px 10px;
    width: 81px;
    height: 38px;
    cursor: pointer;
    background: #0e0e0e;
    color: #fff;
    float: right;
}
.news-detail-content {
	margin-bottom: 15px;
}
.news-detail-content img {
	cursor: pointer;
}
.additional-news-info {
    padding-top: 15px;
    border-top: 1px solid #ddd;
}
.additional-news-info  h4{
    font-size: 18px;	
    padding-bottom: 5px;
}
.additional-news-info .list-old-news {
    padding-left: 30px;	
    list-style: square;
}
 .list-old-news li {
    padding: 3px 0px 3px 0px;
 }
 .list-old-news li a {
    font-size: 16px;
    color: #424242;
}
.list-old-news li a:hover {
	color: #000;
	text-decoration: underline;
}
.additional-news-info .btn-container {
    padding: 15px 0px;	
}
.additional-news-info .btn-container a {
    font-size: 15px;	
    font-weight: bold;
    display: inline-block;
    background: #E4E4E4;
    padding: 5px 15px;
}